
.item {
    background:rgba(0, 0, 0, 0.0); 
    //border-bottom:1px solid #eee;
    padding:5px;//width:930px;
    border-radius: 3px;
    margin-bottom:0px;
    border-bottom:1px solid #ddd;
    //width:300px!important;
    margin-right:10px!important; margin-left:0px!important;
}


.item-header {
    background:rgba(0, 0, 0, 0.05); 
    font-weight:bold; font-size:1.1em;
    border-bottom:1px solid #ddd;
    padding-bottom:8px;
    margin-bottom:0px;
}

.item-nav {
    text-align: right;
}
    .item-nav a {
        margin-right:10px;
    }
    
#upload-image-form {
    margin-bottom:0px!important;
}

#rate-star {
    margin-top:8px;
}

.star {
    display:inline-block;
}

.sortable-item {
    display:inline-block;
    float:left; margin-right:10px; margin-bottom:10px; background:#eee; padding:3px; border-radius:3px;
}

.sortable-item img, .sortable-wrapper .title {
    cursor:move;
}

#loading-global {
    background: #FFF1A8;//#D8DFEA;
    display: none;
    font-size: 12px;
    font-weight: bold;
    left: 0;
    padding: 10px 30px 10px 30px;
    position: fixed;
    top: 0;
    left:45%;
    z-index: 9999;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}


i {
    margin-right:5px;
}

.nav .cug {
	margin-top:3px;
	margin-right:5px;
}

table td  {
    vertical-align:middle;
}

.center {
    text-align:center;
}

.right {
    text-align:right;
}

.popover .title, .popover .content {
    text-align:left!important;
}

table thead th {
    background-color: rgba(141, 192, 219, 0.25);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

.secondary {
    font-size:16px;
    margin-left:20px;
}

.btn-large {
    border-radius: 6px 6px 6px 6px;
    font-size: 20px;
    margin-right: 5px;
    padding: 14px 24px;
}

html, body {
  height:100%;
}

#container, .content{
  height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/
	min-height:100%; /* real browsers */
}

.dashboard-icon {
  display:block;
  width:27px; height:17px;
  background:url(../img/glyphicons_232_cloud.png) no-repeat transparent;
  margin:0 auto;
}

.power-icon {
  display:block;
  width:27px; height:24px;
  background:url(../img/glyphicons_063_power.png) no-repeat transparent;
  margin:0 auto;
}

.home-icon {
  display:block;
  width:27px; height:24px;
  background:url(../img/glyphicons_020_home.png) no-repeat transparent;
  margin:0 auto;  
}

.page-icon {
  display:block;
  width:17px; height:24px;
  background:url(../img/glyphicons_036_file.png) no-repeat transparent;
  margin:0 auto;  
}

.settings-icon {
  display:block;
  width:27px; height:26px;
  background:url(../img/glyphicons_023_cogwheels.png) no-repeat transparent;
  margin:0 auto;  
}

.games-icon {
  display:block;
  width:24px; height:24px;
  background:url(../img/glyphicons_009_magic.png) no-repeat transparent;
  margin:0 auto;  
}
.offers-icon {
  display:block;
  width:20px; height:26px;
  background:url(../img/glyphicons_022_fire.png) no-repeat transparent;
  margin:0 auto;  
}

.left-side-nav {
  margin:0 auto;
  //padding-top:20px;
  display:block;
}

.left-side-nav .nav-header {
  padding:15px 0!important;
  font-size:1.1em;
}

.left-side-nav a {
  color:#dedede;
  text-align:center;
  display:block;
  padding:15px 0!important;
  text-shadow:0 1px 0 rgba(255, 255, 255, 0.1)!important;
  border-bottom: thin dotted #333;
  margin-right:-14px!important;
  font-weight:bold;
  
}

.left-side-nav a i {
  margin-bottom:5px;
}

.left-side-nav .active a {
  -moz-box-shadow: inset 0 0 5px 5px #0090D4;
  -webkit-box-shadow: inset 0 0 5px 5px #0090D4;
  box-shadow: inset 0 0 5px 5px #0090D4; 
  border-bottom: thin solid #333;
   
}



.left-side-nav a:hover, .left-side-nav .active a:hover {
  text-decoration:none;
  background-color:#1C1C1C!important;
  color:#fff;
  -moz-box-shadow: inset 0 0 5px 5px #111111;
  -webkit-box-shadow: inset 0 0 5px 5px #111111;
  box-shadow: inset 0 0 5px 5px #111111;  
}

.sidebar-navigation-wrapper-left, .sidebar-navigation-wrapper-right {
  position:fixed;
  top:60px;
}

.sidebar-navigation-wrapper-left {
  left:0;
  height:100%;
  box-shadow:0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;

}

.sidebar-navigation-wrapper-right {
  right:0;
  top:80px;
  margin-right:2.5641%!important;
  height:89%;
}

.sidebar-navigation-wrapper-right .well {
  height:95%;
  overflow-y:scroll;
}

.sidebar-navigation-wrapper-left .sidebar-nav {
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #3B3B3B, #121212);
  background-image: -ms-linear-gradient(top, #3B3B3B, #121212);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3B3B3B), to(#121212));
  background-image: -webkit-linear-gradient(top, #3B3B3B, #121212);
  background-image: -o-linear-gradient(top, #3B3B3B, #121212);
  background-image: linear-gradient(top, #3B3B3B, #121212);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3B3B3B', endColorstr='#121212', GradientType=0);  
  height:100%;
}

.content-wrapper {
  position:absolute;
  left:4.58291%;
  top:80px;
  margin-left:10px;
}