
.item {
    background:rgba(0, 0, 0, 0.0); 
    //border-bottom:1px solid #eee;
    padding:5px;//width:930px;
    border-radius: 3px;
    margin-bottom:0px;
    border-bottom:1px solid #ddd;
    //width:300px!important;
    margin-right:10px!important; margin-left:0px!important;
}


.item-header {
    background:rgba(0, 0, 0, 0.05); 
    font-weight:bold; font-size:1.1em;
    border-bottom:1px solid #ddd;
    padding-bottom:8px;
    margin-bottom:0px;
}

.item-nav {
    text-align: right;
}
    .item-nav a {
        margin-right:10px;
    }
    
#upload-image-form {
    margin-bottom:0px!important;
}

#rate-star {
    margin-top:8px;
}

.star {
    display:inline-block;
}

.sortable-item {
    display:inline-block;
    float:left; margin-right:10px; margin-bottom:10px; background:#eee; padding:3px; border-radius:3px;
}

.sortable-item img, .sortable-wrapper .title {
    cursor:move;
}

#loading-global {
    background: #FFF1A8;//#D8DFEA;
    display: none;
    font-size: 12px;
    font-weight: bold;
    left: 0;
    padding: 10px 30px 10px 30px;
    position: fixed;
    top: 0;
    left:45%;
    z-index: 9999;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}


i {
    margin-right:5px;
}

.nav .cug {
	margin-top:3px;
	margin-right:5px;
}

table td  {
    vertical-align:middle;
}

.center {
    text-align:center;
}

.right {
    text-align:right;
}

.popover .title, .popover .content {
    text-align:left!important;
}

table thead th {
    background-color: rgba(141, 192, 219, 0.25);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

.secondary {
    font-size:16px;
    margin-left:20px;
}

.btn-large {
    border-radius: 6px 6px 6px 6px;
    font-size: 20px;
    margin-right: 5px;
    padding: 14px 24px;
}
.orange {
    background-color: #E16020;
    background-image: -moz-linear-gradient(center top , #F86218, #F86218 25%, #CB4909)!important;
    border-color: #B94106!important;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    color: #FFFFFF;
    padding: 12px 25px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.orange:hover {
    background: none repeat scroll 0 0 #EA5207!important;
    color: #FFFFFF;
    text-decoration: none;
}